<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/css.css">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} Custom schoolware</title>
</head>

<body style="line-height: 1.5;font-size: 16px;letter-spacing: 0em;font-weight: 600;">
      <div class="multi-button">
        <button id="1" class="button out-left" onclick="tabs(1)">agenda</button>
        <button id="2" class="button" onclick="tabs(2)">punten</button>
        <button id="3" class="button out-right" onclick="tabs(3)">taken</button>
      </div>
    </div>
    <div id="content"> 
      

    </div>
</body>

<script src="static/tabs.js"></script>
<script src="static/keyboard.js"></script>
<script src="static/cookie.js"></script>
<script src="static/current_date.js"></script>
<script src="static/update_date.js"></script>
<script src="static/main.js"></script>

</html>